.intro {
  font-family: arial;
  font-size: 18px;
  list-style:none;
}

.work {
  font-family: arial;
  font-size: 17px;
  list-style:none;
}

.education {
  font-family: arial;
  font-size: 17px;
}

.skills {
  font-family: arial;
  font-size: 17px;
}
