.yolo {
  width: 50%;
  font-family: skia;
  font-size: 18px;
  color: red;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.intro {
  font-family: skia;
  font-size: 18px;
  color: gray;
  text-align: center;
}

.intro2 {
  color: red;
  font-family: skia;
  text-align: center;
}

li {
  text-align: center;
  font-family: skia;
  list-style: none;
}

.important {
  color: red;
}

.unimportant {
  color: blue;
}

.list ul li {
  list-style: decimal;
  text-align: left;
}

.highlight {
  color: yellow;
}

.fish-type {
  color: orange;
}

img {
  float: left;
  width: 500px;
}

.column {
  width: 300px;
  float: left;
}

.my-class {
  margin: 12px;
  border: 2px solid green;
  padding: 4px;
  background-color: orange;
}

.digital p {
  background-color: red;
}

.analog p {
  background-color: yellow;
}

.digital p a {
  font-weight: bold;
}

.analog p a {
  font-style: italic;
}

.digital p a {
  font-weight: bold;
}

a {
  font-weight: normal;
}

h2 {
  font-size: 32px;
}

.countries h2 {
  font-style: italic;
}
